{
  "openapi": "3.0.1",
  "info": {
    "title": "Quarantine API Documentation.",
    "description": "API for quarantine-backend project. Find our projects at [Github:Quarantine-Help](https://github.com/Quarantine-Help). Join our slack channel: [Slack:Quarantine-Help](https://join.slack.com/t/quarantinedhelp/shared_invite/zt-d0259x7q-BiC_viQhLRoQqqc5j~P0uw). Remember to wash your hands x=).",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.quarantinehelp.space"
    }
  ],
  "paths": {
    "/api/v1/auth/register/": {
      "post": {
        "tags": ["Authentication"],
        "description": "Create a new participant. Also acts as the registration API",
        "summary": "Register participant API",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Participant"
              },
              "examples": {
                "0": {
                  "value": "{\n\t\"user\": {\n\t\t\"firstName\": \"Patient First Test with 6\",\n\t\t\"lastName\": \"Patient last\",\n\t\t\"email\": \"patients@patient.com\"\n\t}, \n\t\"position\": {\n\t\t\"longitude\": \"2.7105760574340807\",\n\t\t\"latitude\": \"48.19827663849882\"\n\t},\n\t\"type\": \"AF\",\n\t\"firstLineOfAddress\": \"First Line of add\",\n\t\"secondLineOfAddress\": \"Second line\",\n\t\"placeId\": \"ChIJwyyKo7J3X0YRZ5XOMcLx3xo\", \n\t\"postCode\": \"12345\",\n\t\"city\": \"Berlin\",\n\t\"country\": \"DE\",\n\t\"crisis\": 1,\n\t\"phone\": \"+46761189391\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantResponse"
                },
                "examples": {
                  "0": {
                    "value": "{\"user\":{\"firstName\":\"Patient First Test with 6\",\"lastName\":\"Patient last\",\"email\":\"patients@patient.com\"},\"position\":{\"longitude\":\"2.7105760574340807\",\"latitude\":\"48.19827663849882\"},\"type\":\"AF\",\"firstLineOfAddress\":\"First Line of add\",\"secondLineOfAddress\":\"Second line\",\"country\":\"DE\",\"placeId\":\"ChIJwyyKo7J3X0YRZ5XOMcLx3xo\",\"postCode\":\"12345\",\"city\":\"Berlin\",\"phone\":\"+46761189391\",\"crisis\":1}"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.quarantinehelp.space"
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.quarantinehelp.space"
        }
      ]
    },
    "/api/v1/auth/login/": {
      "post": {
        "tags": ["Authentication"],
        "description": "Login API",
        "summary": "Participant login API",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginPostBody"
              },
              "examples": {
                "0": {
                  "value": "{\n\t\"email\": \"01tonythomas@gmail.com\", \n\t\"password\": \"tester123\"\n}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response on succeful login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse200"
                },
                "examples": {
                  "0": {
                    "value": "{\n  \"token\": \"asdfasdfasdfasfd1231231231313\",\n  \"userId\": 1,\n  \"email\": \"user@gmail.com\"\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Auto generated using Swagger Inspector",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse400"
                },
                "examples": {
                  "0": {
                    "value": "{\"non_field_errors\":[\"Unable to log in with provided credentials.\"]}"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.quarantinehelp.space"
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.quarantinehelp.space"
        }
      ]
    },
    "/api/v1/crises/{crisisId}/affected-participants/": {
      "get": {
        "tags": ["Map view"],
        "description": "Get a list of affected participants",
        "summary": "Get a list of affected participants",
        "parameters": [
          {
            "in": "path",
            "name": "crisisId",
            "schema": {
              "type": "integer"
            },
            "description": "crisis we are dealing with",
            "example": 7,
            "required": true
          },
          {
            "in": "query",
            "name": "radius",
            "schema": {
              "type": "integer"
            },
            "description": "Radius around the PoI in KM",
            "example": 7,
            "allowEmptyValue": true
          },
          {
            "in": "query",
            "name": "latitude",
            "schema": {
              "type": "string"
            },
            "description": "Latitude of PoI",
            "example": 48.174307,
            "allowEmptyValue": true
          },
          {
            "in": "query",
            "name": "longitude",
            "schema": {
              "type": "string"
            },
            "description": "Longitude of PoI",
            "example": 2.942351
          },
          {
            "in": "query",
            "name": "requestType",
            "schema": {
              "type": "string",
              "enum": ["G", "M"],
              "description": "Type of errand:\n * `G` - Grocery request\n * `M` - Medicine request\n"
            },
            "description": "Filter by request type. G - Groceries, M - Medicines. You can send multiple of this with an &.",
            "example": "G"
          }
        ],
        "responses": {
          "200": {
            "description": "Participants list response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffectedParticipantsPaginatedResponse"
                },
                "examples": {
                  "0": {
                    "value": "{\"count\":2,\"next\":null,\"previous\":null,\"results\":[{\"id\":2,\"user\":{\"firstName\":\"Patient First Test with 6\",\"lastName\":\"Patient last\",\"email\":\"patients@patient.com\"},\"position\":{\"longitude\":\"2.7105760574340807\",\"latitude\":\"48.19827663849882\"},\"requests\":[],\"deleted\":null,\"type\":\"AF\",\"firstLineOfAddress\":\"First Line of add\",\"secondLineOfAddress\":\"Second line\",\"country\":\"DE\",\"placeId\":\"ChIJwyyKo7J3X0YRZ5XOMcLx3xo\",\"postCode\":\"12345\",\"city\":\"Berlin\",\"phone\":\"+46761189391\",\"metadata\":{},\"createdAt\":\"2020-03-29T15:35:53.248762Z\",\"crisis\":1},{\"id\":1,\"user\":{\"firstName\":\"Tony\",\"lastName\":\"Thomas\",\"email\":\"01tonythomas@gmail.com\"},\"position\":{\"longitude\":\"19.057331085205075\",\"latitude\":\"59.69310986700436\"},\"requests\":[{\"type\":\"G\",\"deadline\":\"2020-03-29T11:25:31Z\",\"description\":\"I need the following: \\r\\n1. Smor\",\"assignee\":null,\"status\":\"P\"}],\"deleted\":null,\"type\":\"AF\",\"firstLineOfAddress\":\"Cedergrensvägen 1\",\"secondLineOfAddress\":\"SE-126 36 Hägersten\",\"country\":\"SE\",\"placeId\":\"Yz1idWlsZGluZztsYXQ9NTkuMzAzNDY7bG9uPTE4LjAwMzI0O249Q2VkZXJncmVuc3YlQzMlQTRnZW4rMTtoPTcyNDMzYQ\",\"postCode\":\"12636\",\"city\":\"Stockholm\",\"phone\":\"+46761189391\",\"metadata\":{},\"createdAt\":\"2020-03-29T11:23:36.862282Z\",\"crisis\":1}]}"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.quarantinehelp.space"
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.quarantinehelp.space"
        }
      ]
    },
    "/api/v1/crises/": {
      "get": {
        "tags": ["Map view"],
        "description": "List crisises in your area",
        "summary": "Listing all crises. Done while page load.",
        "responses": {
          "200": {
            "description": "Used to generate some pre-losfrf information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrisesPaginatedResponse"
                },
                "examples": {
                  "0": {
                    "value": "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"id\":1,\"deleted\":null,\"name\":\"COVID_19\",\"active\":true,\"startedAt\":\"2020-03-29T10:38:38Z\"}]}"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.quarantinehelp.space"
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.quarantinehelp.space"
        }
      ]
    },
    "/api/v1/me/requests/": {
      "get": {
        "tags": ["My profile management for AF Participant"],
        "description": "Get requests created by an AF participant",
        "summary": "Get requests created by an AF participant",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of user requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestsPaginatedResponse"
                },
                "examples": {
                  "0": {
                    "value": "{ \"count\": 3, \"next\": null, \"previous\": null, \"results\": [ { \"type\": \"G\", \"deadline\": null, \"description\": \"Want 3 Kg banana\", \"assignee\": null, \"status\": \"\" }, { \"type\": \"G\", \"deadline\": \"2020-05-28T22:01:01Z\", \"description\": \"Want 3 Kg banana\", \"assignee\": null, \"status\": \"P\" }, { \"type\": \"G\", \"deadline\": \"2020-05-29T00:01:01Z\", \"description\": \"Want 3 Kg banana\", \"assignee\": null, \"status\": \"P\" } ] }"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["My profile management for AF Participant"],
        "description": "Create request as an AF participant",
        "summary": "Create request as an AF participant",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCreateBody"
              },
              "examples": {
                "0": {
                  "value": "{ \"type\": \"G\", \"description\": \"Want 3 Kg banana\", \"deadline\": \"2020-05-29T01:01:01+01:00\" }"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantRequestSchema"
                },
                "examples": {
                  "0": {
                    "value": "{ \"type\": \"G\", \"deadline\": \"2020-05-29T00:01:01Z\", \"description\": \"Want 3 Kg banana\", \"assignee\": null, \"status\": \"P\" }"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/me/requests/{requestId}/": {
      "patch": {
        "tags": ["My profile management for AF Participant"],
        "description": "Update my request. See that you might not be able to update your request after it is already in the transit/finished/cancelled state. You might want to delete it and create another.",
        "summary": "Partial update on my request",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "requestId",
            "schema": {
              "type": "integer"
            },
            "description": "Request id",
            "example": 7,
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestPatchBody"
              },
              "examples": {
                "0": {
                  "value": "{ \"type\": \"G\", \"description\": \"Want 3 Kg banana\", \"deadline\": \"2020-05-29T01:01:01+01:00\", \"status\": \"C\" }"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantRequestSchema"
                },
                "examples": {
                  "0": {
                    "value": "{ \"type\": \"G\", \"deadline\": \"2020-05-29T00:01:01Z\", \"description\": \"Want 3 Kg banana\", \"assignee\": null, \"status\": \"P\" }"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["My profile management for AF Participant"],
        "description": "Delete a request. Will set the status to \"C\". Also returns the modified request object.",
        "summary": "Delete on my request",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "requestId",
            "schema": {
              "type": "integer"
            },
            "description": "Request id",
            "example": 7,
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request with status set to C",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParticipantRequestSchema"
                },
                "examples": {
                  "0": {
                    "value": "{ \"type\": \"C\", \"deadline\": \"2020-05-29T00:01:01Z\", \"description\": \"Want 3 Kg banana\", \"assignee\": null, \"status:\"C\" }"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "in": "header",
        "type": "apiKey",
        "name": "Authorization",
        "description": "We need in format Authorization: Token AVFSADFSDFSDFSDF"
      }
    },
    "schemas": {
      "RequestCreateBody": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["G", "M"],
            "description": "Type of errand:\n * `G` - Grocery request\n * `M` - Medicine request\n"
          },
          "deadline": {
            "type": "string",
            "description": "Deadline to finish this with timezone",
            "example": "2020-03-29T11:25:31+01:00"
          },
          "description": {
            "type": "string",
            "description": "Description of this request"
          }
        }
      },
      "RequestPatchBody": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["G", "M"],
            "description": "Type of errand:\n * `G` - Grocery request\n * `M` - Medicine request\n"
          },
          "deadline": {
            "type": "string",
            "description": "Deadline to finish this with timezone",
            "example": "2020-03-29T11:25:31+01:00"
          },
          "description": {
            "type": "string",
            "description": "Description of this request"
          },
          "status": {
            "type": "string",
            "enum": ["P", "T", "F", "C"],
            "description": "Status of the errand:\n * `P` - Pending, just created\n * `T` - Transit, a helper is working on it\n * `F` - Finished job (wont be returned on map view)\n * `C` - Cancelled (wont be returned on map view)\n"
          }
        }
      },
      "RequestsPaginatedResponse": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string",
            "example": "https://api.quarantinehelp.space/api/v1/me/requests/?page=5"
          },
          "previous": {
            "type": "string",
            "example": "https://api.quarantinehelp.space/api/v1/me/requests/?page=4"
          },
          "count": {
            "type": "integer",
            "example": 100
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParticipantRequestSchema"
            }
          }
        }
      },
      "Crisis": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "startedAt": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "string",
            "example": 48.174307
          },
          "longitude": {
            "type": "string",
            "example": 2.174307
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "Participant": {
        "type": "object",
        "properties": {
          "crisis": {
            "type": "integer",
            "example": 1
          },
          "city": {
            "type": "string",
            "example": "Stockholm"
          },
          "phone": {
            "type": "string",
            "example": 46777777777
          },
          "firstLineOfAddress": {
            "type": "string",
            "example": "Cedergsvagen 38"
          },
          "secondLineOfAddress": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "example": "DE"
          },
          "postCode": {
            "type": "string",
            "example": 12207
          },
          "position": {
            "$ref": "#/components/schemas/Position"
          },
          "placeId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "example": "AF",
            "enum": ["HL", "AF", "AU", "TP"],
            "description": "Type of participant:\n * `HL` - Helper\n * `AF` - Affected Participant (Quarantined)\n * `AU` - Authorities\n * `TP` - Third party\n"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "ParticipantRequestSchema": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["P", "T", "F", "C"],
            "description": "Status of the errand:\n * `P` - Pending, just created\n * `T` - Transit, a helper is working on it\n * `F` - Finished job (wont be returned on map view)\n * `C` - Cancelled (wont be returned on map view)\n"
          },
          "type": {
            "type": "string",
            "enum": ["G", "M"],
            "description": "Type of errand:\n * `G` - Grocery request\n * `M` - Medicine request\n"
          },
          "deadline": {
            "type": "string",
            "description": "Deadline to finish this in UTC",
            "example": "2020-03-29T11:25:31Z"
          },
          "description": {
            "type": "string",
            "description": "Description of this request"
          },
          "assignee": {
            "allOf": [
              {
                "description": "Can be empty when nobody is assigned"
              },
              {
                "$ref": "#/components/schemas/User"
              }
            ]
          }
        }
      },
      "AffectedParticipant": {
        "type": "object",
        "properties": {
          "requests": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParticipantRequestSchema"
            }
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/ParticipantResponse"
          }
        ]
      },
      "ParticipantResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "example": 1
          },
          "firstLineOfAddress": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "crisis": {
            "type": "integer"
          },
          "city": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "placeId": {
            "type": "string"
          },
          "postCode": {
            "type": "string"
          },
          "position": {
            "$ref": "#/components/schemas/ParticipantResponse_position"
          },
          "type": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/ParticipantResponse_user"
          },
          "secondLineOfAddress": {
            "type": "string"
          }
        }
      },
      "AffectedParticipantsPaginatedResponse": {
        "type": "object",
        "properties": {
          "next": {
            "type": "string",
            "example": "https://api.quarantinehelp.space/api/v1/crises/1/affected-participants/?page=5"
          },
          "previous": {
            "type": "string",
            "example": "https://api.quarantinehelp.space/api/v1/crises/1/affected-participants/?page=4"
          },
          "count": {
            "type": "integer",
            "example": 100
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffectedParticipant"
            }
          }
        }
      },
      "CrisesPaginatedResponse": {
        "type": "object",
        "properties": {
          "next": {},
          "previous": {},
          "count": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Crisis"
            }
          }
        }
      },
      "LoginPostBody": {
        "type": "object",
        "properties": {
          "password": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "LoginResponse200": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "example": "asdfasdfasdfasfd1231231231313"
          },
          "userId": {
            "type": "number",
            "example": 1
          },
          "email": {
            "type": "string",
            "example": "user@example.com"
          }
        }
      },
      "LoginResponse400": {
        "type": "object",
        "properties": {
          "non_field_errors": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ParticipantResponse_position": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "string"
          },
          "longitude": {
            "type": "string"
          }
        }
      },
      "ParticipantResponse_user": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      }
    }
  }
}
